.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2),
    0 3px 4px 0 rgba(0,0,0,0.14),
    0 1px 8px 0 rgba(0,0,0,0.12);
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}