.button {
  &__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__button {
    background: #0880ae;
    box-shadow: 0 2px 4px rgba(44, 39, 56, 0.08), 0 4px 8px rgba(44, 39, 56, 0.08);
    border-radius: 6px;
    height: 56px;
    width: 100%;
    max-width: 400px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #ebf4f8;

    cursor: pointer;
    padding: 10px 20px;


    border: 2px solid #0880ae;


    &:active {
      opacity: 0.9;
    }
  }

  &__button.disabled {
    background: #dbe2ea;
    box-shadow: 0 2px 4px rgba(44, 39, 56, 0.08), 0 4px 8px rgba(44, 39, 56, 0.08);
    border-radius: 6px;
    color: #b1b5bf;

    border: 2px solid #dbe2ea;

    &:active {
      opacity: 100%;
    }
  }
}
