.form {
  width: 500px;
  padding: 80px 120px 100px;
  border: 1px solid rgb(27, 32, 33);
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 4px 4px 8px 0px hsla(76, 58%, 35%, 0.5);
}

.form__imageField > input {
  display: none;
}
