*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.container {
  box-sizing: border-box;
  max-width: 450px;
  margin: 0 auto;
  padding: 0 15px;

  text-align: center;
}

.feedback__title {
  margin-bottom: 2px;

  color: #212529;

  font-size: 25px;
  font-weight: 300;
  line-height: 1.2;
}

.feedback__text {
  margin-bottom: 5px;
  padding: 0 15px;

  color: #212529;

  font-size: 18px;
}



.form {
  font-family: 'Inter', Arial, sans-serif;


}

.feedback__form {
  width: 100%;
  max-width: 430px;
  height: auto;
  max-height: 75vh;
  margin-top: 50px;
}

.form__wrap {
  position: relative;

  display: grid;

  width: 100%;
  margin-top: 20px;

  grid-template-rows: 1fr 12px;
}


.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;

  cursor: text;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: border-bottom 0.3s;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;

  font-size: 14px;
  line-height: 18px;

}

.form__input-error {
  margin: 0;
  padding: 0;

  color: red;

  font-size: 10px;
}

.form__wrap:focus-within .form__label {
  color: rgb(218, 24, 202);


}



.form__label {
  position: absolute;

  display: block;

  font-size: 11px;
}

.select {
  position: relative;

  display: grid;

  width: 100%;
  margin-top: 30px;

  grid-template-rows: 1fr 12px;
}

.select:focus-within .form__label {
  color: rgb(218, 24, 202);


}



.form__label-extend {
  top: -18px;

  color: rgb(107, 104, 104);
}

.select__sel {
  width: 100%;
  margin: 0;
  padding: 0 10px;

  cursor: pointer;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  background: url("/src/components/down-arrow-svgrepo-com.svg") no-repeat right;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  appearance: none;
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;

  resize: vertical;
  cursor: text;

  outline: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);

  line-height: 18px;
}

.form__button {
  margin-top: 30px;
}
